@font-face {
    font-family: 'Young Serif'; /* Your chosen name for the font */
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit'; /* Your chosen name for the font */
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}


html, body {
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    line-height: 1.8;
    align-self: center;
}

div {
    padding-top: 10px;
}

main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border-radius: 20px;
    padding: 3%;
    margin: 8% auto; /* Centers the box horizontally */
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 3%;
    line-height: 2;
    border-radius: 20px;
}

.preparation-time h2 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    margin-left: 3%;
    margin-top: 0;
    line-height: 1;
}

h3 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-size: 26px;
    line-height: 12px;
}

hr {
    border: .1px solid hsl(30, 18%, 87%);
    width: 100%;
    margin-top: 25px;
}

ol, ul {
    padding-left: 5%;
}

li {
    padding-left: 20px; /* Space between bullet and text */
}

ol li::marker {
    color:hsl(14, 45%, 36%)
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

table strong {
    color:hsl(14, 45%, 36%);
}

tr + tr {
    border-top: .1px solid hsl(30, 18%, 87%); /* Adds a line between rows */
    line-height: 2;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: 'Young Serif', serif;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile Design */

@media (max-width: 1440px)
{
    body, main {
        margin: 0;
        padding-bottom: 0;
    }

    main .no-padding {
        padding: 0;
    }
    main .padding {
        padding: 5%;
    }

    .preparation-time ul li::marker {
        color: hsl(332, 51%, 32%);
    }
    .ingredients ul li::marker {
        color: hsl(14, 45%, 36%);
    }
}

@media (min-width: 1440px)
{
    main {
        max-width: 50%;
        align-self: center;
        border-radius: 20px;
        padding: 3%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    img {
        border-radius: 20px;
    }
}